[2021-12-23 12:39] pplonski commented on #505
@Possums thank you for reporting! Do you have a lot of categorical columns in your data? Do you get results in reasonable time? Do you get good results?

Is your data/code public so I can reproduce the problem? Or maybe you can provide some dummy data to reproduce the issue?

[2021-12-23 19:13] Possums commented on #505
Thanks for looking into this!

It's the Numer.ai dataset, so there are a little over 1,000 columns. Each feature takes the values of 0, 0.25, 0.5, 0.75 or 1, but I don't think it's being treated as categorical. Training takes a while (about 2 days, 64 cores) but the results are good.

[2021-12-24 01:10] bladesaber commented on #506
Thanks for explanation.

[2021-12-24 01:10] #506 closed

[2021-12-25 13:00] asdspal opened #507 "Is it possible to resume in "optuna" mode?"
I'm using Optuna mode to train on regression task. Is it possible to resume the training in Optuna mode? I'm getting error `AutoMLException: Cannot set directory for AutoML. Directory 'AutoML_exp1' is not empty.` .

[2021-12-25 19:32] off99555 opened #508 "How does MLJar detect whether a feature is categorical or continuous?"
If I feed month values as 0,1,2,...,11 will MLJar detect this as continuous or categorical?
Basically I don't want the model to come up with a threshold to separate the months into 2 groups. I want it to do checking like "if month=X, classify the sample as Y" that kind of thing.

[2021-12-25 19:35] off99555 commented on #499
I also have this issue. It happens when I trained a model with "Neural Network" algorithm.

[2021-12-30 09:01] pplonski commented on #507
Hi @asdspal, yes it is possible. You can reuse Optuna hyperparameters that were found in other AutoML training or in unfinished training. You need to pass 'old' parameters in `optuna_init_params` argument. All hyperparameters found during Optuna tuning are saved in the `optuna/optuna.json` file (inside your `results_path` directory).

Example:
[code]

Please let me know if it works for you. Good l

[2021-12-30 09:05] pplonski commented on #508
Hi @off99555, MLJAR AutoML will check if a column is numeric or object (string). If it is numeric then will be treated as continuous. If column is type of object (string) then it will decide what kind of preprocessing should be applied.

The code that checks the types of the columns is here: https://github.com/mljar/mljar-supervised/blob/master/supervised/tuner/data_info.py

After AutoML training

[2021-12-30 09:34] off99555 commented on #508
OK. So it means that it will treat my feature as continuous unless I change the type to string.
Thank you.

[2021-12-30 09:40] pplonski commented on #508
@off99555 good idea, I will add this to docs.

[2022-01-01 04:49] asdspal commented on #507
Thanks, it is working now.

[2022-01-10 02:54] totalhack commented on #405
Hi there, I'm just starting to test out mljar and I'm running into a similar requirement.

From what I've read I gather that mljar saves each model in its native format. Is there an official API for getting a reference to the best model instance right after training? I've poked through the docs and available methods/attributes of a trained AutoML instance but may have missed it.

I use MLFlow for

[2022-01-10 07:49] pplonski commented on #405
Hi @totalhack,

The model (for prediction) needs data to be preprocessed in the same way as training data. The information about preprocessing is stored in the `framework.json` file inside the model's directory. This file should be added to the final model file.

If your best model is ensemble or stacked model, then you need to save all models that are used to construct ensemble.

If you are using

[2022-01-10 12:39] totalhack commented on #405
Thanks @pplonski, that makes sense. I wasn't thinking about the preprocessing...was picturing things being serialized a bit more like an sklearn pipeline where it can be saved/loaded all together.

Is everything that's needed to recreate the winning "pipeline" stored in the directory of the winning model (ignoring the ensemble scenario)?

What is the procedure for loading a particular model other

[2022-01-10 12:49] pplonski commented on #405
@totalhack, it will require some additional coding. Information about what models should be loaded is stored in the `params.json` file in the main AutoML directory. This file should be edited and only needed models should be left there.

I think that there should be added a method that will pack all needed files for production and create a folder/zip that can be moved to other machines and easily

[2022-01-10 13:31] totalhack commented on #405
@pplonski just inspecting params.json:

[code]

I see load_on_predict just references the best model. So presumably if I copied this file and the "3_Default_Xgboost" directory into the artifact then AutoML would have enough to just load that back up for prediction? I may look into that road as it seems relatively straightforward. The subdirectories still all have lots of extra files relevant only

[2022-01-11 15:52] totalhack commented on #405
At first glance this seems to work. I extract params.json, progress.json, data_info.json and the winning model directory as named in the `best_model` value in params.json into a separate directory, then use `mlflow.log_artifact` to include this with the serialized model. I can then pull in that model using the regular mlflow tools in a separate service.

What might be a nice improvement on this is

[2022-01-18 00:15] prativapokhrel opened #509 "can't find selected features"
I am not being able to find the **selected features** for the best model(example: 52_LightGBM_Selected_Features). The results folder has the dropped features(drop_features.json), but not selected features. Could you please help me with this?

PS: I am using **Compete** mode

[2022-01-18 07:06] pplonski commented on #509
Hi, if you substract dropped features from all features you will get selected features. Please let me know if it works for you.

[2022-01-19 00:48] prativapokhrel commented on #509
Hi @pplonski , where can I find all the features because a lot of features(golden features) have been generated while training the models?

[2022-01-19 15:46] pplonski commented on #509
Please try to check framework.json file in model directory. There should be listed all features with applied preprocessing. Please let me know if it works for you.

[2022-01-20 18:34] prativapokhrel commented on #509
Thank you so much. It helped me, but I found a couple of unknown features being dropped like Dist_Cluster_1, Dist_Cluster_2, Dist_Cluster_4, and Dist_Cluster_5. There was no Dist_Cluster_3 in the dropped features list. Also, I didn't see them in the new columns list.

[2022-01-20 18:45] pplonski commented on #509
Great. Those might be features constructed during kmeans feature engineering step.

[2022-01-20 18:49] #509 closed

[2022-01-23 23:57] nyan314sn opened #511 "Error : An issue when running EDA. could not convert string to float: 'virginica'"
I tried to follow this mutliclass classification example https://github.com/mljar/mljar-examples/blob/master/Iris_classification/Iris_classification.ipynb

I am getting an error message called **"supervised.preprocessing.eda ERROR There was an issue when running EDA. could not convert string to float: 'virginica'"**

I notice that EDA folder is empty as well.

Per [Issue 508](https://github.com/ml

[2022-01-24 12:52] pplonski commented on #511
@nyan314sn thank you for reporting. You can disable EDA by setting `explain_level=1` in `AutoML` contructor

[2022-01-30 10:29] nyan314sn opened #512 "How are missing values handled?"
How are the missing values handled in feature columns ?  Is it always filled with median ?  It would be nice if there is a csv or .md report indicating how missing values are handled for inside each algorithm folder.

Another issue that is not clear to me pre-processing of data. Does the package handle normalization/standardization etc? What are the main steps the user should do before leveraging

[2022-02-02 10:20] pplonski commented on #512
Hi @nyan314sn, it is filled with median and used values are saved in the framework.json file inside each model directory.

[2022-02-02 10:55] JonasDHomburg commented on #511
The problem is introduced in this commit: 5116d0330767dd253865208f0574e43ccf0042b8

The error is raised by Seaborn: https://github.com/mwaskom/seaborn/blob/master/seaborn/categorical.py#L431

It can be solved if this line: https://github.com/mljar/mljar-supervised/blob/v0.11.0/supervised/preprocessing/eda.py#L79
is changed to: `sns.countplot(x=y, color=BLUE)`

I'm not exactly sure if that will cre

[2022-02-06 17:40] pplonski commented on #511
Hi @JonasDHomburg,

thank you for looking into this! This might fix the problem.

However, I'm thinking about disabling EDA for AutoML. Personally, for EDA I'm using pandas_profiling and I think this package should be used for EDA.

Thank you!

[2022-02-07 22:46] ooghry opened #513 "Adding another hyperparameter setting for models"
Hello,
I run Optuna for XGBoost, Catboost, and LightGBM separately and get hyperparameters, and I also have the JSON file that mljar creates for the same models.
How can I run mljar again with all six hyperparameters?

[2022-02-08 07:49] pplonski commented on #513
Hi @ooghry,

Yes you can (you mean with three sets of hyperparameters?). You should join them into one JSON. If you paste them in this issue I can help you. After you created the one JSON file with parameters you need to pass it to `AutoML` constructor:

[code]

Please let me know if it works for you.

[2022-02-08 10:51] ooghry commented on #513
I want to use hyperparameters like this:(I don't know it's beneficial or not)
[code]
This is mljar JSON file content:
[code]

My Catboost params:
[code]
My LightGBM params:
[code]

[2022-02-08 11:22] pplonski commented on #513
@ooghry few comments:
- you can't use hyperparameters that are not in the list from MLJAR, for example in CatBoost you cant use `bagging_temperature` parameter (sorry)
- you can only have one selected set of parameters for each algorithm, you cant have `original_Xgboost` and `custom_Xgboost` sets. You need to put your paramters only in `original_Xgboost`.

[2022-02-08 11:45] ooghry commented on #513
Thank you @pplonski  for your time and clarification.

[2022-02-08 11:45] #513 closed

[2022-02-14 06:11] markdickson commented on #425
I ran into this same problem while using MLJar on the IEEE-Kaggle Fraud dataset.

[2022-02-14 11:16] MaciekEO opened #514 "Please remove warning messages"
File binary_classifier.py was started on Windows 10 using Python 3.8 with Anaconda. AutoML is working good, but there are two recurring errors:
-`'evals_result' argument is deprecated and will be removed in a future release of LightGBM. Pass 'record_evaluation()' callback via 'callbacks' argument instead.`

-`'early_stopping_rounds' argument is deprecated and will be removed in a future release of

[2022-02-14 11:16] pplonski commented on #514
@MaciekEO thanks for reporting assigning to you.

[2022-02-14 11:26] pplonski commented on #498
@MaciekEO this is similar to #514 - with additional warning:
[code]

[2022-02-14 12:32] #514 closed

[2022-02-14 12:34] pplonski commented on #498
Fixed in #514

[2022-02-14 12:34] #498 closed

[2022-02-14 12:39] #507 closed

[2022-02-14 12:42] pplonski commented on #494
@MaciekEO we should update the `scikit-learn` minimum version in `requirements.txt`.

[2022-02-14 12:46] #484 closed

[2022-02-14 12:55] MaciekEO commented on #504
I reproduced this code `!pip install -q -U mljar-supervised !pip install -q -U matplotlib==3.1.3 !pip install -q -U git+https://github.com/mljar/mljar-supervised.git@master` and I have the same problem.

[2022-02-14 13:43] pplonski opened #516 "tests fail"
[code]

Details in https://github.com/mljar/mljar-supervised/runs/5183724922?check_suite_focus=true

[2022-02-14 16:36] markdickson commented on #425
I am amending my previous comment: after watching the CPU monitor for a while, MLJar did eventually use all my cores. There were long intervals of single-core utilization separated by shorter periods of multiple-core utilization.

[2022-02-15 02:31] PoptropicaSahil commented on #504
I cannot figure out where is the 'settings' option. This is feb 2022, I guess there have been some UI changes
Please note that my phone is verified on Kaggle
@pplonski @MaciekEO
![image](https://user-images.githubusercontent.com/81604196/153981216-900bdce9-3389-4ef4-84fc-f8764c26c9d2.png)

[2022-02-15 07:46] pplonski commented on #425
@markdickson thank you for checking this. If I will find time I will check what AutoML is doing on long single core intervals.

[2022-02-15 08:52] MaciekEO commented on #504
@PoptropicaSahil you have to click on this kind of arrow and you will have settings there
<img width="877" alt="solution" src="https://user-images.githubusercontent.com/79571164/154026526-bf4c3a15-7f1b-4ca7-9667-5d2848962aff.png">

[2022-02-15 15:22] PoptropicaSahil commented on #504
Thanks a lot for your help!
Finally it works🙌

On Tue, 15 Feb 2022, 14:23 Maciek.exe, ***@***.***> wrote:

[2022-02-16 09:46] pplonski commented on #511
The EDA is disabled in AutoML. I strongly recommend using pandas_profiling or sweetviz for auto-EDA.

[2022-02-16 09:46] #511 closed

[2022-02-16 09:47] pplonski commented on #495
@MaciekEO could you try to reproduce this bug?

[2022-02-16 10:16] MaciekEO commented on #495
@moshe-rl I recreated your code and there are some negative values, but when I changed data in df I've got good results.
You should check this code on different data.

[2022-02-16 10:19] pplonski commented on #495
Thanks @MaciekEO for checking, @moshe-rl could you please provide data to reproduce the issue? If you can't post it on GitHub maybe you can send it by email to contact@mljar.com?

The R2 metric can be negative - see the R2 [docs](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html) is sklearn package.

[2022-02-16 10:59] moshe-rl commented on #495
Hey @pplonski @MaciekEO,
The point was that the R2 values I saw **at the leader-board** in the main result page **was X** for model Y (for instance), but **when I click on the name** of model Y (in the leader-board) to get to the **detailed result page**- I see **there that the R2 value is -X**.
This behavior leads to strange results - for some model the **actual** R2 value (which present in the *

[2022-02-16 11:28] pplonski commented on #495
Thanks @moshe-rl for the reply. The point is that we can't reproduce the issue. With the code that you provided (with random data), there are negative R2 values but they are negative in the console, leaderboard, and model description, so I assume they are valid (R2 can be negative). We need some code&data example with R2 wrong values (for example > 1) so we can find the bug and fix it.

[2022-02-17 12:11] #516 closed

[2022-02-17 12:12] pplonski commented on #516
Thanks @MaciekEO!

[2022-02-17 12:46] MaciekEO commented on #504
Hey @0a1b you can install MLJAR on Kaggle with following commands

[code]
there may be some errors but it will work properly

[2022-02-22 08:39] filipsPL opened #519 "What are the train/test datasets when "validation_type": "split"?"
Hi,
when the validation strategy is `kfold`, there is a `folds` folder generated with all folds. But where can I find such data for `split` strategy? (i.e., to see what was the training and testing dataset)?

I have the latest version of mljar-supervised  (0.11.1).

best, Filip

[2022-02-22 09:08] pplonski commented on #519
Hi @filipsPL,

looks like there is no such thing logged. Ups ... I've checked and for `kfold` we log indices in numpy format https://github.com/mljar/mljar-supervised/blob/4181299ec5e5e91f57581867fab2c0c97a315cb4/supervised/validation/validator_kfold.py#L101

Would it be ok for you @filipsPL  to log it as numpy files?

[2022-02-22 09:09] filipsPL commented on #519
Thanks for super-fast reply.

Yes, numpy format would be perfect!

[2022-02-22 09:36] pplonski commented on #519
@MaciekEO please take a look at this issue. Please check:
- how it is saved in `kfold` validation https://github.com/mljar/mljar-supervised/blob/4181299ec5e5e91f57581867fab2c0c97a315cb4/supervised/validation/validator_kfold.py#L101-L102
- it can be added in `split` validation, somewhere here https://github.com/mljar/mljar-supervised/blob/4181299ec5e5e91f57581867fab2c0c97a315cb4/supervised/validati

[2022-02-23 10:04] pplonski commented on #519
Thanks @MaciekEO! @filipsPL the updates are already in the master branch. They will go to the next minor release.

You can install the package with updates:

[code]

You will find the indices for train and validation in the AutoML results directory. The indices are saved in numpy format. You can read them like:

[code]

@filipsPL please let us know if it works for you.

[2022-02-23 14:10] filipsPL commented on #519
Great, it works! Thank you @pplonski @MaciekEO for quickly addressing the problem.

[2022-02-23 14:18] #519 closed

[2022-02-24 14:41] hunaidkhan2000 opened #521 "Optuna time budget exceeding the time limit"
When i use Optuna to tune my mljar regression automl mode. Optuna takes way too much time to complete. If i provide 10mins it takes almost 10times more than that. Can you please have a look ?
[code]

[2022-02-24 14:59] pplonski commented on #521
Could you please provide full output?

[2022-02-24 15:13] hunaidkhan2000 commented on #521
Full output provided

AutoML directory: AutoML_2
Expected computing time:
Time for tuning with Optuna: len(algorithms) * optuna_time_budget = 3600 seconds
There is no time limit for ML model training after Optuna tuning (total_time_limit parameter is ignored).
The task is multiclass_classification with evaluation metric logloss
AutoML will use algorithms: ['Random Forest', 'Extra Trees', 'LightGBM

[2022-02-24 15:51] pplonski commented on #521
@hunaidkhan2000 here is the log from training without warnings:

[code]

The `optuna_time_budget` is a time budget for training single algorithm. For each algorithm from list `['Random Forest', 'Extra Trees', 'LightGBM', 'Xgboost', 'CatBoost', 'Neural Network']` there will be used about `optuna_time_budget` for training. From the logs it looks like that CatBoost is not respecting this constraint.

[2022-02-24 16:17] peeyushkumarofficial commented on #265
@tracyisme can you please tell me how it worked? I used the solution from the link

https://www.allinfohere.net/2021/05/Scikit-learn-Cross-Validation-Setting-a-randomstate-has-no-effect-since-shuffle-is-False.html

still getting the error, while compare_models()

[2022-02-24 17:01] hunaidkhan2000 commented on #521
Sure, Thank you for your prompt response . I am using catboost  version 1.0.4. And thank you for making this amazing library. it really saves a good amount of time

[2022-02-25 12:48] #521 closed

[2022-02-25 14:44] hunaidkhan2000 commented on #521
I have tried multiple times but I think the link is broken.
`pip install -q -U git+https://github.com/mljar/mljar-supervised.git@master `
it does not do anything . can you please check  @pplonski ?

[2022-02-25 15:26] pplonski commented on #521
The `-q` flag is for quiet mode - no output to the terminal. Please try to run installation without `-q`.

[2022-02-25 17:02] hunaidkhan2000 commented on #521
Yes,i have tried without -q is , it is not working. I tried with pip show
but still nothing happens

On Fri, Feb 25, 2022 at 8:56 PM Piotr ***@***.***> wrote:

--
Thanks and Regards,
Hunaidkhan Pathan

[2022-02-25 17:15] pplonski commented on #521
What error do you have? There is no output? Maybe try `main` instead `master` ?

[code]

[2022-02-25 17:27] hunaidkhan2000 commented on #521
One solution i found is i created a totally fresh virtual environment and installed from GIt , it works. Dont know due to other packages or dependencies in my other virtual environment it was not working

[2022-02-26 08:47] pplonski commented on #486
@MaciekEO could you please look into this on Monday?

[2022-02-28 00:17] DanielR59 opened #522 "Requierements issue"
In the installation  for development is required python3.6. However, when installing requirements.txt [Pandas 1.2.0](https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.2.0.html#increased-minimum-version-for-python) has no longer support for python 3.6.
Also there's issue with scipy 1.6.1. Last support for python3.6 is 1.5.4

[2022-02-28 07:08] DanielR59 opened #523 "Add type hints to AutoML Class"
It would be usefull to add typing hints to automl.py file for linting help at time of scripting, I could do it.

[2022-02-28 07:31] pplonski commented on #522
@DanielR59 thanks for reporting!

@MaciekEO could you please look at it, thanks.

[2022-02-28 07:33] pplonski commented on #523
@DanielR59 would be fantastic!

[2022-02-28 08:57] MaciekEO commented on #522
Hey @DanielR59. I just checked it and you are right. Pandas 1.2.0 release supports Python 3.7.1 or higher and as for Scipy since version 1.6.0, it supports Python 3.7 or higher. Below you have the documentation for these libraries.
https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.2.0.html#increased-minimum-version-for-python
https://scipy.github.io/devdocs/release.1.6.0.html#issues-closed-

[2022-02-28 09:17] pplonski commented on #522
Thank you @MaciekEO and @DanielR59!

[2022-02-28 09:17] #522 closed

[2022-02-28 19:22] pplonski commented on #523
Changes will go to `0.11.2`. Hope to do a release this week.

Thank you @DanielR59!

[2022-02-28 19:22] #523 closed

[2022-02-28 19:24] pplonski commented on #496
Should be fixed with @DanielR59 PR.

[2022-03-01 11:37] pplonski commented on #486
I've updated `scikit-learn` in `requirements.txt` with minimum value to `1.0.0`.

@hunaidkhan2000 with `scikit-learn` set to `1.0.2` I cant reproduce the issue. (for @MaciekEO it is also working without error)

The code that I've used:

[code]

My packages:
[code]

[2022-03-02 06:28] hunaidkhan2000 commented on #486
Sure Let me check and update you

On Tue, 1 Mar 2022 at 17:07, Piotr ***@***.***> wrote:

--
Thanks and Regards,
Hunaidkhan Pathan

[2022-03-02 19:57] munozariasjm commented on #499
Does the problem continue after running on a new conda environmen?

[2022-03-03 09:22] pplonski commented on #499
@munozariasjm it should run without warnings, I've increased minimal `scikit-learn` version to `1.0`.

[2022-03-03 09:22] #499 closed

[2022-03-13 12:42] twhelan22 opened #527 "Option to turn off preprocessing"
I often work with datasets where preprocessing has already been carried manually, with some categorical columns encoded as ints, date fields already expanded, categorical columns where values are bools or [0, 1], normalization already applied etc. It would be great to be able to turn off preprocessing and still take advantage of the rest of the mljar pipeline.

E.g. something like:
needs_preproces

[2022-03-13 15:02] twhelan22 commented on #426
I'd also like to see feature selection use a different method by default, ideally SHAP: https://towardsdatascience.com/stop-permuting-features-c1412e31b63f

[2022-03-14 07:12] pplonski commented on #527
Hi @twhelan22,

If all your features are ready for analysis (numeric without missing values) then the preprocessing will not be applied. You can check details of applied preprocessing in the `framework.json` file for each model.

(In the case of Neural Networks, you need to assure that feature is scaled.)

[2022-03-14 07:14] pplonski commented on #426
@twhelan22 from my experience the SHAP was very computationally expensive - to get any result from SHAP I need to run on a small subsample of data.

[2022-03-14 11:10] twhelan22 commented on #527
Ah good to know, thanks!

[2022-03-14 12:04] #527 closed

[2022-03-17 15:40] prativapokhrel opened #528 "Optuna and Catboost"
I am trying to train my model in Optuna mode using Catboost and Xgboost. Optuna optimizes Xgboost, but is stuck forever in the case of Catboost.
![image](https://user-images.githubusercontent.com/20887144/158836605-6cf888e9-e8a9-4396-9f89-96983cfa7891.png)
![image](https://user-images.githubusercontent.com/20887144/158836672-7f79661c-8433-4d7c-a0da-3d4ca7a82e02.png)

It went on for 7 hours straigh

[2022-03-17 16:03] pplonski commented on #528
It might be some issue with Catboost itself. Could you please check running Catboost on yor data without AutoML?

[2022-03-20 13:41] gaminte opened #529 "ufunc 'isnan' not supported for the input types(error in modelling)"
Hello,

Got error while modelling (elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison in jupyter notebook)

I have attached the errors.md file which has (ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe'')

Thanks
Santy

[errors.md](http

[2022-03-21 09:29] pplonski commented on #529
@gaminte thank you for reporting! This might be some bug.

Could you please send the data and code to reproduce the issue? thanks!

[2022-03-22 08:48] gaminte commented on #529
@pplonski I have attached the code file and the dataset

['is nan' error - MLJar.zip](https://github.com/mljar/mljar-supervised/files/8322630/is.nan.error.-.MLJar.zip)

Thanks,
Santy

[2022-03-22 09:19] pplonski commented on #529
Thank you @gaminte! If I will not come with solution in this week please ping me.

[2022-03-24 15:02] refrtharth opened #530 "import error"
using vs code on windows 10

(mljar) PS C:\Users\harthk1\Documents\Projects\python\Projects\mljar> & C:/Users/harthk1/Documents/Projects/python/Projects/mljar/Scripts/python.exe c:/Users/harthk1/Documents/Projects/python/Projects/mljar/44shred-with-mljar.py
Traceback (most recent call last):
  File "c:/Users/harthk1/Documents/Projects/python/Projects/mljar/44shred-with-mljar.py", line 23, in <modu

[2022-03-29 15:48] picousse opened #531 "Preproccessing of data"
Hi,
I might have missed it, but I fail to find some info on the preprocessing of data.
Is there some documentation on that part?
What columns are being used in the end?
How are they encoded?

Can I extract the preprocessed dataframe as it is being fed to the models?
I would like to do some bench marking, but having the same base dataset is required for that.

[2022-03-29 15:52] picousse commented on #531
While digging into the Automl instance, I'm also seeing that the different models get different datasets.
E.g. if I feed the titanice dataset, then XGboost get data from the columns: Age, Cabin, Embarked, Name, Sex and Ticket,
whilst the default neural network get the columns: age, Cabin, Embarked, Fare, Name, Pclass, Sex, SibSp, and Ticket.

does that make sense?
If the different models don't get

[2022-03-30 06:00] gaminte commented on #529
Hi, @pplonski have you got any solution?

[2022-04-01 10:57] PeterLuenenschloss commented on #349
Support / integration for multioutput regression would be great!
In a project, i am currently wrapping the `AutoML` instance with `sklearn.multiputput` models to achieve multioutput fitting.
This works nearly. There are only 2 problems:

1. Since models get trained consecutively, the `results_path` wont be empty after the first model is fit and subsequent training gets aborted.
2. While multioutpu

[2022-04-01 11:09] pplonski commented on #349
@PeterLuenenschloss there should be added additional argument in AutoML constructor `multi_output=True` that will tell the AutoML object that it is going to train in multi-output environment. The final results can be saved as nested directories. The example:

[code]

There will be paths:
- `AutoML_multi/AutoML_1`
- `AutoML_multi/AutoML_2`
- `AutoML_multi/AutoML_3`
- and so on, till the number of t

[2022-04-02 13:02] PeterLuenenschloss commented on #349
Yes, thats how i thought it should be!

Maybe it is worth thinking about not only supporting simple *MultiOutput*, but also *ChainRegression* (or even defaulting to that) by wrapping with `sklearnChainRgressor`. In that case, there would also need to be an additional keyword, `order`, that allows for altering the default chain order, and also the results folder `AutoML` would need to somehow conta

[2022-04-06 14:00] adalli13 opened #532 "Binary classification: not all labels in one fold"
Hello,
I've got a binary classification problem whereby the labels are unequally distributed in my data so that there may be some folds which only include one label. This leads to the following error:

[code]

Edit: shuffling the dataframe before handing it over to the .fit() function helps at least in my case

[2022-04-06 14:11] pplonski commented on #532
I will need code and data to reproduce the issue. But I can't tell when it will be fixed. I'm focused right now on another [project](https://github.com/mljar/mercury).

[2022-04-06 14:43] adalli13 commented on #532
Unfortunately, I did not manage to create any "artificial" data which lead to the same error.

[2022-04-06 14:43] #532 closed

[2022-04-07 14:09] tfgstudios opened #533 "Are the AUC/ROC etc. images based on the train set, validation set(s) or a mix of all?"
Hey, thanks for this lib. I was surprised something like this exists. It helps me a lot in selecting features, maybe I'll even use it in production.

Basically, I'd like to know if the analysis in the rendered images estimate the model's 'true' performance (i.e. on data it has never seen before) or just the train performance (i.e. ability to _at least_ overfit).
The way I understand it, you always

[2022-04-07 21:17] pplonski commented on #533
Hi @tfgstudios,

I'm glad that you found the package and it works for you.

All metrics are computed on validation part of the data. Does it guarantee that models will work in the same way on test data? It depends on how the new data will be similar to training data. If both (train and test) will have the similar distribution, then it will work (most cases).

Time-series data can be tricky. You ca

[2022-04-08 12:06] munozariasjm opened #534 "A little 🐛 in the printing of XGBoost results"
Hi!,

Just to report a little (and unimportant) bug. When the results of the XGBoost models are printed, I heavily suspect (😂) the rsme and the fitting time are being interchanged:
```6_Xgboost rmse 11.868675 trained in 1264.67 seconds```
Clearly it should be:
```6_Xgboost rmse 1264.67 trained in 11.868675 seconds```
If necessary, tell me, I can open a PR with the fix.
Regards and keep the excelle

[2022-04-08 12:41] pplonski commented on #534
Hi @munozariasjm,

It should be good. Please check the code: https://github.com/mljar/mljar-supervised/blob/04a90ffbff33b2c93a7c212825b987e73b7f62fe/supervised/base_automl.py#L290-L294

[2022-04-08 12:41] pplonski commented on #534
Why do you think that they are interchanged?

[2022-04-08 14:27] tfgstudios commented on #533
Thank you for replying.
Yes, I've spend quite some time finding ways in which to transform the data without info leakage between the sets.
I'm thankful for any pointers you have for my problem space. What I'm doing is:
Each x is a list of _flattened_ features: a0, b0, c0.... a9, b9, c9;
The digit represents the timestep (10 timesteps for simplicity). a,b,c are the _actual_ features.
y is a label i

[2022-04-08 14:38] tfgstudios opened #535 "[LightGBM] [Fatal] Unknown token <2737 in data file"
Hello. Getting this error. Any clue? The message hints at a RAM problem, but I have 11/48 GB free RAM.
The problem seems to only appear with LightGBM as other models seem to work fine.
I'm using a dataset with 300k data points, each of 9k features. It should fit in memory IMO.

`[LightGBM] [Warning] Unknown token <2737 in data file
[LightGBM] [Fatal] Unknown token <2737 in data file
2022-04-08 16:

[2022-04-08 20:55] pplonski commented on #533
@tfgstudios instead of shifted values in the additional columns, you can try to use % change between samples and can try some moving window features.

[2022-04-08 20:55] #533 closed

[2022-04-08 20:57] pplonski commented on #535
It might be too small RAM available as in error message.

[2022-04-18 10:29] unreal79 commented on #534
There is no bug, I'm sure. munozariasjm doesn't know what he's talking about, it seems.

I'd closed the "issue".

[2022-04-18 14:30] munozariasjm commented on #534
Ok, @unreal79. Let's suppose there is absolutely no bug... Then please explain to me how come we can print the RMSE for this toy data obtained by the linear model is:
```3_Linear rmse 0.0 trained in 13.17 seconds```
Here is the [notebook](https://colab.research.google.com/drive/1bLfSuD3PR-UJdkRv4_PzZx2wfkkHLmxt#scrollTo=vNrFRSCrBPVg).

I still don't know where these printing bugs are coming from,

[2022-04-19 07:44] pplonski commented on #534
Thank you @munozariasjm for example code to reproduce the issue. It might be a bug with `get_final_loss()` method.

Is anyone interested in tracking the bug?

[2022-04-21 00:57] CyFeng16 commented on #355
If you are getting above error in python3.8 environment, python3.7 works fine.

[2022-04-21 14:51] padvyas opened #536 "Sklearn scalability for mljar"
want to explore scalability of mljar automl in spark

[2022-04-21 14:57] pplonski commented on #536
Scaling MLJAR AutoML on cluster with require development effort. It is possible, but needs to implemented.

[2022-05-01 10:16] off99555 opened #537 "Untyped global name 'negative_average_precision': Cannot determine Numba type of <class 'function'>"
When I chose `average_precision` as the eval_metric, the program responded with this warning repeatedly:
[code]

[2022-05-05 12:52] off99555 commented on #537
I've checked and it seems to be the case that CatBoost is the cause.

[2022-05-05 13:16] pplonski commented on #537
@off99555 you mean that there is a bug in CatBoost? Have you created/found a bug issue for them?

[2022-05-06 05:15] dvirginz commented on #480
I agree. There is no documentation on saving and loading the models.
As it is an AutoML framework, I suggest a generic "one-solution fit all models" schema. I.e., loading models shouldn't be done manually; instead, calling the load model on the *folder* of the training should load the best model for serving.

Thank you!

[2022-05-06 05:17] dvirginz commented on #405
In that context - how would you load an ensemble in another machine?
Thanks.

[2022-05-09 00:37] off99555 opened #538 "Incorrect AUC value in CatBoost chart with sample_weight"
I trained a dataset with sample weight using 3 algos: LightGBM, Xgboost, and CatBoost.
I found that the learning curve chart for CatBoost doesn't take into account the sample weight but the score in the table does.
Maybe you forgot to put sample_weight for CatBoost charts? I also see the problems in the ROC curve chart.
Also, could this affect the training result e.g. terminating at the wrong plac

[2022-05-09 06:33] pplonski commented on #538
@off99555 thank you for reporting. Is it the problem only for CatBoost?

[2022-05-09 10:09] KarthikDutt opened #539 "Report generation fails when training variables contain chinese charecters"
While trying to generate the model training report on a dataset that has chinese charecters, below mentioned error is encountered.

[code]

and a lot of warning messages similar to this:

[code]

[2022-05-09 11:05] off99555 commented on #538
@pplonski Yes, I think so. At least LightGBM and Xgboost don't seem to have this problem.

[2022-05-09 11:11] pplonski commented on #539
@KarthikDutt thank you for reporting the issue. Could you pleaseprovide the code example that crashes report generation? I will do my best to fix it asap.

[2022-05-09 12:31] KarthikDutt commented on #539
@pplonski Thanks for your response. Here's a code snippet that can be help reproduce the error.

[code]

The data can be accessed from [here](https://drive.google.com/file/d/1YQW7PTeCfhd5IU02lkUVtrWtsc1v-WTJ/view?usp=sharing)

[2022-05-16 06:49] alitirmizi23 commented on #154
@pplonski does adding sample_weight in .fit() cause training to pay more attention to heavily weighted samples or is it just for calculating metrics?

[2022-05-16 11:42] sbcalaff opened #540 "[Request] Allow repeated k-fold cross validation"
In order to reduce overfitting, I would like to ask for a new parameter: "n_repetitions". This parameter sets the number of complete sets of folds to compute for repeated k-fold cross-validation.

Cross-validation example:
[code]

[2022-05-16 12:08] pplonski commented on #540
@sbcalaff I have good news! It is implemented already. There is parameter called `repeats` that controls the number of repetitions. Here is code https://github.com/mljar/mljar-supervised/blob/92706af75bd1859805a413768dc261d0572c3e06/supervised/validation/validator_kfold.py#L24-L28

(When `repeats` is used you cant use stacked ensemble.) Please let me know if it works for you.

I will keep this iss

[2022-05-16 12:09] pplonski commented on #154
@alitirmizi23 you are right, the higher the weight the more attention during the training.

[2022-05-16 12:57] sbcalaff commented on #540
I searched the code but I did not find it. Thank you in advance if you finally update the documentation.

[2022-05-19 23:09] ViacheslavDanilov opened #541 "Path normalization issue"
I trained models on Windows, then I tried to use them on Linux, however, I could not load them due to an incorrect path joining. During model loading, I got `learner_path` in the following format `experiments_dir/model_1/100_LightGBM\\learner_fold_0.lightgbm`. The last two slashes were incorrectly concatenated with the rest part of the path. In this regard, I would suggest adding something like `l

[2022-05-20 07:04] pplonski commented on #541
@ViacheslavDanilov thank you for reporting the issue. The original path should be split based on `\` and `/` and then joined with  `os.path.join` - what do you think?

[2022-05-20 10:37] ViacheslavDanilov commented on #541
@pplonski thanks for the prompt reply.

When I replace the double slash in `learner_subpath`, the `learner_path` variable is getting readable by `l = AlgorithmFactory.load()` and the code works well. As you see, `os.path.join` works only when a model is trained and tested on the same operating system i.e. trained on Windows and tested on Windows. However, when there are cases such as I encountered

[2022-05-21 06:03] Tonywhitemin opened #542 "RuntimeError: main thread is not in main loop"
Hello everyone, I am a beginner of mljar.
After installing the mljar-supervised package yesterday, I used the example on the official website to test...
![image](https://user-images.githubusercontent.com/88414200/169638080-df2c9c7e-238e-4a26-8008-b431420d5bc2.png)

 but the following exception code occurred.
![image](https://user-images.githubusercontent.com/88414200/169638063-2db70b5f-5617-4215-8

[2022-05-21 10:03] pplonski commented on #542
@Tonywhitemin thanks for reporting. That's might be related to this issue https://stackoverflow.com/questions/52839758/matplotlib-and-runtimeerror-main-thread-is-not-in-main-loop

Please try to add in your code:

[code]

[2022-05-22 03:29] Tonywhitemin commented on #542
Hi pplonski,
It works! Thanks for your help!

[2022-05-22 19:26] bacoco opened #543 "bug during classification"
AutoML directory: /content/drive/MyDrive/caggle_automl
The task is binary_classification with evaluation metric logloss
AutoML will use algorithms: ['Nearest Neighbors']
AutoML will stack models
AutoML will ensemble available models
2022-05-22 16:58:46,387 supervised.exceptions ERROR No models produced.
Please check your data or submit a Github issue at https://github.com/mljar/mljar-supervised/is

[2022-06-01 05:21] Tonywhitemin commented on #386
Hi pplonski,
Good day! I am now study this heatmap but have some questions on it...
Could you please help?
If follow the above commend you said:
**"For classification the correlation is computed based on proba values. For multiclass the average of correlation for each class is done."**
Since this heatmap is bases on different models, may I know it used what parameters or value to do the correlatio

[2022-06-01 07:52] pplonski commented on #386
The correlation is computed between each model's predictions and target.  It is computed with `scipy.stats.spearmanr`.

[2022-06-01 08:15] Tonywhitemin opened #544 "model structure differences between ensemble/stacked/ensemble_stacked"
Good day!
I am reading your manual now but can't tell the model structure differences between ensemble/stacked/ensemble_stacked...
![image](https://user-images.githubusercontent.com/88414200/171352890-59abfaf4-355d-4153-9395-5ed3830de862.png)

Following pictures are json files from the example code and the questions are listed below, could you please help to answer them?
1. The meaning of "repeat"

[2022-06-01 20:06] dvirginz opened #545 "Supporting logging frameworks as mlflow, neptuneai or wandb"
Hi!
Do you have any plans in supporting logging frameworks as mlflow?
Currently? trying to find the best model from multiple different runs almost impossible:)

The ability to easily find and filter by hyper-parameters and valuation metrics can be great.

Thanks!

[2022-06-01 20:45] pplonski commented on #545
Didnt think about it. Why do you have several runs? Why you cant run it in one run? Do you have different features in each run? How many runs do you have? Sorry for so many questions but it is quite unexpected usage for me.

[2022-06-01 21:24] dvirginz commented on #545
Thank you very much for the fast response:)
There are many usecases. Before naming a few, let me point to pycaret, h2o, tpot and others that support logging frameworks, which might point to the fact many people are facing such problems.
Yet, and as a last disclaimer, after using all of the above, I find the pipeline with mljar easy to work with and straightforward, and I like it:)

During research

[2022-06-02 01:30] Tonywhitemin commented on #544
Hi pplonski
Thanks for your quick reply!

For stack models, I still want to check how will it stack?
For example, following picture shows that it use five model to stack :
original_LightGBM, original_Xgboost, original_Neural Network, original_Random Forest and original_Extra Trees.

![image](https://user-images.githubusercontent.com/88414200/171525679-12f41184-afac-4e94-a52a-774323af4993.png)
Do t

[2022-06-02 03:41] Tonywhitemin commented on #27
Hi pplonski,
Sorry to keep bothering you...
I tried to understand the "features_scores_threshold_2.5.csv" file as following table.
And some questions list below, could you help?
1. Do the numbers under the learnerX indicate the importance of the feature? How are they calculated?
2. How to compare which feature corresponds to each column?
3. How to calculate the "counter" value?
4. It seems that th

[2022-06-02 09:17] pplonski commented on #544
Hi @Tonywhitemin!

1. In the first picture you selected models that were trained with the Optuna framework.

2. Here is a definition of stacking https://en.wikipedia.org/wiki/Ensemble_learning#Stacking - in MLJAR AutoML the best models are selected and their predictions are added to the original data. Such data is used to train stacked models.

3. In the ensemble there are weights. After summing a

[2022-06-02 09:17] pplonski commented on #389
@Tonywhitemin looks like a bug! What are feature names in your data?

[2022-06-02 09:22] pplonski commented on #27
@Tonywhitemin the feature importance is computed for each learner. The importance is computed with a permutation method. Each learner has a vector with importance for each feature. The columns in CSV are joined based on features. The first row is the first feature from the dataset.

When computing importance there is injected random feature to the dataset. The `counter` keeps information of how ma

[2022-06-02 13:58] Tonywhitemin commented on #389
Hi @pplonski ,
I used the sample code from https://github.com/mljar/mljar-supervised as following picture.
And the dataset is "load_digit" from scikit-learn.
The features name are numbers from every single pixel.
Thanks for asking!
![image](https://user-images.githubusercontent.com/88414200/171643512-11eb3edf-c1ed-4bd7-bfbe-0cd95fefad98.png)

[2022-06-02 14:21] Tonywhitemin commented on #27
@pplonski Thanks for your reply!
As you said, **"The counter keeps information of how many times a feature has lower importance than a random feature."**
But can we know the information about the random feature's value in this csv file? (or which row should be the random feature's value?)

By the way, it seems that the number of features in this csv file may contain some of golden features, is tha

[2022-06-02 14:53] Tonywhitemin commented on #544
Hi @pplonski ,
Thanks for your help!
As you said, **"in MLJAR AutoML the best models are selected and their predictions are added to the original data. Such data is used to train stacked models."**
So the five models listed below were "the best models" as you mentioned, is that correct?
If above is correct,  what will the final "stacked models" algorithms be?

https://user-images.githubusercontent

[2022-06-02 15:07] yairVanti opened #546 "mljar is crashing on titanic data"
mljar version : 0.11.2
python 3.8 on macOS
log :
1_Linear average_precision 0.812127 trained in 15.46 seconds (1-sample predict time 0.0346 seconds)
* Step default_algorithms will try to check up to 5 models

Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)

report dump :
Crashed Thread:        11

Exception Type:        EXC_BAD_ACCESS (SIGSEGV)
Exception Codes:       KERN_I

[2022-06-02 15:13] pplonski commented on #546
thanks @yairVanti for reporting the issue, what hardware do you have? what is OS version?

[2022-06-02 15:14] pplonski commented on #27
@Tonywhitemin you will need to check that in code ... I dont remember all details, sorry!

[2022-06-03 05:33] Tonywhitemin commented on #27
Hi @pplonski,
Please don't say sorry, you've helped a lot, I really appreciate your help!
Have a nice day!

[2022-06-06 03:22] Tonywhitemin commented on #544
Hi @pplonski,
[framework.txt.txt](https://github.com/mljar/mljar-supervised/files/8841681/framework.txt.txt)
Please refer to attachment from the path of "Optuna_extratrees_stacked/framework.json"
If there are some information indicated in this file and I missed, tell me please.
Thanks for your time!

[2022-06-06 10:33] pplonski commented on #544
There should be `params.json` or `framework.json` file in the main directory. There should be a separate file with info about golden features as well. Could you send them? Thanks!

[2022-06-07 01:31] Tonywhitemin commented on #544
Hi @pplonski
Following attachment is the params.json file showed as picture below for your reference.
(BTW, in optuna mode, it doesn't have golden_feature.json file in it)
[params.txt.txt](https://github.com/mljar/mljar-supervised/files/8849252/params.txt.txt)

![image](https://user-images.githubusercontent.com/88414200/172272329-89fff542-8dd0-4857-a53c-240fc9cde911.png)

Part of the file infomati

[2022-06-07 07:44] Tonywhitemin commented on #121
Hi @pplonski
I encountered the same issue but my OS is windows10...
I checked the site-packages of graphviz and dtreeviz had been satified as picture below.
Could you give me some advices?
Thanks!
PS: I also have Ubuntu OS and the above solution is worked for me.
![image](https://user-images.githubusercontent.com/88414200/172323348-dae3584c-b9a9-4a30-a4c5-e4568fbe925e.png)

[2022-06-07 11:26] pplonski commented on #121
@Tonywhitemin please try to run `dot -V` to check if `Graphviz` is installed.

[2022-06-07 11:32] pplonski commented on #544
Here is how the data for stacked models looks like (based on your params):
![image](https://user-images.githubusercontent.com/6959032/172369172-e4623d61-2df6-42b1-b695-b81006fdc234.png)

Original input data plus predictions from previous models are concatenated and form a new input vector.

[2022-06-08 03:42] Tonywhitemin commented on #121
Hi @pplonski
Thanks for your advice, but dot -V couldn't work...
![image](https://user-images.githubusercontent.com/88414200/172523155-a174df7c-78b7-49b9-9486-41c3c454fcb2.png)
Then I tried **pip show graphviz** and **pip show dtreeviz**, it can show the info as following...
![image](https://user-images.githubusercontent.com/88414200/172523555-ff45afb3-2bc3-4a2f-8628-e8bbde88e787.png)
I also follo

[2022-06-08 06:04] Tonywhitemin commented on #121
Hi @pplonski
Thanks for your advice, but dot -V couldn't work...
![image](https://user-images.githubusercontent.com/88414200/172541222-c78174db-ba4b-460e-b7d1-c7f26b33d555.png)
Then I tried **pip show graphviz** and **pip show dtreeviz**, it can show the info as following...
![image](https://user-images.githubusercontent.com/88414200/172541523-b1cfee1d-4e00-49c5-8b55-405aa45db5da.png)

I also foll

[2022-06-08 07:51] pplonski commented on #544
The stacked can be explainable but it is not implemented in MLJAR AutoML.

I don't understand the second question.

[2022-06-08 07:52] pplonski commented on #121
You should add a path to `dot` executable to windows environment paths. Then it will work.

[2022-06-08 08:38] Tonywhitemin commented on #544
Sorry for the confusion...
The second question is that , for example:
Following picture is a reference journal from link of: https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0205872
They also used stack model level 1,and they chose support vector machine as the level-1 model algorithm.
Could we know the level-1 stacked model's algorithm in MLJAR-AutoML?
![image](https://user-image

[2022-06-08 08:39] Tonywhitemin commented on #121
I'll try, thanks for help!

[2022-06-08 08:58] Tonywhitemin commented on #544
I really appreciate your help, @pplonski !  Now I understand! Thanks for your time!

[2022-06-08 09:08] pplonski commented on #544
@Tonywhitemin would you like to help improve MLJAR AutoML docs? The docs are here https://github.com/mljar/docs and are written in Markdown. There might be a separate page about stacking, what do you think? :)

[2022-06-08 09:34] Tonywhitemin commented on #544
If you don't mind my English expression, I would like to give it a try! Could you tell me how can I help? :)

[2022-06-08 11:17] PeteKinz opened #547 "Xgboost_categorical_mix: TypeError: ufunc 'isnan' not supported"
Hello everyone

I trained several models and I can use all of them to make predictions, except those models which use an "Xgboost_categorical_mix" in the Ensemlbe model.

After running `model.predict(data)` I get this error:
`
Traceback (most recent call last):
  File "/Users/thiloreintjes/Desktop/Bachelorarbeit/GitLab/Pipeline/pipeline_main.py", line 371, in <module>
    print(pred_with_models(pe

[2022-06-08 12:23] pplonski commented on #547
@PeteKinz thanks for reporting the issue. You can set `mix_encoding=False` in the `AutoML()` constructor to disable the mixed categoricals approach.

Are you sure you don't have some strange values in the data in those columns? Maybe some missing values are marked in a different way than in training data? There must be something changed in the data ... Sorry that it is not handled properly.

[2022-06-08 12:35] PeteKinz commented on #547
Thanks for the fast response!
I double checked with the `convert_params` in the framework.json file and the values do match.
The data I am using to predinct should be fine. I checked each value, since I'm only trying to predict 3 samples
Nevertheless, thank you for the workaround!

[2022-06-09 00:35] Tonywhitemin commented on #544
Got it! I will try, thanks!

[2022-06-09 09:24] Tonywhitemin commented on #544
Hi @pplonski
I upload the file to link:
https://github.com/Tonywhitemin/docs
Please help to check if there have any mistake, thanks!

[2022-06-09 10:26] pplonski commented on #544
Thank you @Tonywhitemin! The description is good! I have two coding comments:
1. Let's name the file `ensemble-stacking.md`
2. Paths for images should point to directory in the repository. Please update all images to `docs/images/` and use them as
[code]
Are you the author of the images?

[2022-06-10 08:00] pplonski commented on #544
Thank you @Tonywhitemin!

I've made small fixes in your docs (you can check them here https://github.com/mljar/docs/commit/2ca0391fde8af5ce39ad21ac19a85c8eb9f7ec15)

Your docs is already in the server https://supervised.mljar.com/features/stacking-ensemble/

[2022-06-10 08:30] Tonywhitemin commented on #544
I'm glad I can put some effort into this nice tool, thank you so much @pplonski!

[2022-06-10 09:14] Tonywhitemin commented on #75
Hi @pplonski,
It's me again (laugh), sorry for that but I am little confused now...
Image below is the result of "**SHAP feature important**".
I don't know how to explain why the trend of Learner1 is almost reversed with SHAP value?
Could you help? Thanks!
![image](https://user-images.githubusercontent.com/88414200/173030800-b490d8c4-4202-4b2c-ad69-2c89d9781965.png)

[2022-06-10 11:24] pplonski commented on #75
Hi, I have no idea, maybe try to ask on SHAP github repo?

[2022-06-10 13:42] Tonywhitemin commented on #75
Ok, thanks!👍

[2022-06-13 09:21] Tonywhitemin commented on #544
Hi @pplonski
I read the section of modes at this link: https://supervised.mljar.com/features/modes/
The **"total models tuned for each algorithm"** showed as below image.
![image](https://user-images.githubusercontent.com/88414200/173318976-16200ba9-5a07-4870-ad37-e86db19be642.png)
The numbers here seens reasonable.
But in the section of "**Custom modes"** shows unstacked models number with 10+3*3

[2022-06-13 09:32] Tonywhitemin commented on #544
Got it! But if base on the calculate method, should the numbers showed below be modified?

![image](https://user-images.githubusercontent.com/88414200/173324062-8639dfc1-1f16-4315-a4d0-e27aa38b9219.png)

[2022-06-13 09:44] pplonski commented on #544
You are right! Would you fix this in the docs?

[2022-06-14 00:47] Tonywhitemin commented on #544
Hi @pplonski,
I edited the doc and pulled request as below, could you check if it is OK?
Thanks!
![image](https://user-images.githubusercontent.com/88414200/173470403-2def2394-7bdd-495f-a2ed-611cda725ce4.png)

[2022-06-14 07:45] Matthew-J-Payne commented on #25
@pplonski Fantastic library you've created!
Is there a way to preserve xgb model attributes when mljar saves xgb?
For example, I get the following error:

[code]

I know autoML produces SHAP decision plots but I'd like to make PDPs.

I'm accessing the saved autoML directory because I don't know of a way to access a model after autoML has created them (i.e. whilst saved as a variable in the current

[2022-06-15 09:43] #544 closed

[2022-06-15 09:55] pplonski commented on #25
@Matthew-J-Payne the `AutoML()` class objects should have sklearn API. If PDP works with sklearn models then it should work. If there are some missing attributes you can add them before calling a method, for example:

[code]

[2022-06-15 10:25] PeteKinz opened #548 "Questions: Is there the possibility to only save and load the best model?"
I am training quite a lot of models and this library does help me a lot!
Unfortunately the model folder gets quite big after going through some interactions.
Is there a way to only save and load the best performing model?

[2022-06-15 11:11] Matthew-J-Payne commented on #25
@pplonski thanks for the reply!

Unfortunately, when I call:
[code]
PDP is a scikit-learn class and so should accept automl objects.
PDP expects the object to implement predict, predict_proba or decision_function.  [doc link](https://scikit-learn.org/stable/modules/generated/sklearn.inspection.PartialDependenceDisplay.html#sklearn.inspection.PartialDependenceDisplay.from_estimator)

[2022-06-15 11:26] pplonski commented on #25
What if you run:

[code]

do you have errors as well?

[2022-06-15 12:00] pplonski commented on #548
Let's not close the issue. Sometimes I got interns and one of them might code it.

[2022-06-15 14:45] Matthew-J-Payne commented on #25
thanks for your help!

[2022-06-22 14:47] yairVanti opened #549 "crash when trying to multiple mljar's AutoML in parallel"
i am using Dask to parallelize few AutoML jobs (checking multiple scenario's at the same time)
i am getting the following error :

`*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'NSWindow drag regions should only be invalidated on the Main Thread!'`

the following params are used :
"total_time_limit": 120,"explain_level":0, "ml_task": "binary_classificat

[2022-06-22 15:19] yairVanti commented on #549
solved the problem by adding:
`matplotlib.use('Agg')`
as suggested in :
https://stackoverflow.com/questions/65068073/error-while-showing-matplotlib-figure-in-flask

[2022-06-23 05:34] Tonywhitemin opened #550 "explain mode with metric_type=accuracy results seems abnormal?"
Hi @pplonski
I use mljar-AutoML to run a medical dataset (task mission:binary_classification).
Mode selected=explain mode
metric_type=accuracy
The results seems abnormal as figure below...
![image](https://user-images.githubusercontent.com/88414200/175220821-4b1b5389-88ea-4b29-8edb-ba7d47fd51cc.png)
All the metric_value were the same and didn't match the real value listed in each algorithm folder.

[2022-06-23 05:51] yairVanti commented on #549
correction - is still happens from time to time.
need the ability to run multiple scenario's simultaneously .

[2022-06-23 05:56] pplonski commented on #550
@Tonywhitemin thanks for reporti g. Could you provide data and code to reproduce? Is your dataset small?

[2022-06-23 06:57] Tonywhitemin commented on #550
Hi @pplonski
The code and dataset provided as below zip file for you reference!
Thanks for your help!
BTW, the dataset is quite small.
[double_check.zip](https://github.com/mljar/mljar-supervised/files/8964791/double_check.zip)

[2022-06-24 11:24] alitirmizi23 commented on #461
Any idea if we can do this now? with automl and having custom parameters per model?

[2022-06-24 11:56] pplonski commented on #461
Hi @alitirmizi23! Currently, all my efforts are focused on the https://github.com/mljar/mercury framework for converting notebooks to web apps. I hope I can built sustainable bussiness around Mercury and use founds to develop MLJAR AutoML.

I do provide commercial support for MLJAR AutoML. I can implement this feature if needed by a commercial client. Licenses start at $1000/year.

The alternative

[2022-06-28 00:32] Tonywhitemin commented on #550
Hi @pplonski, do you reproduce the same result successfully?
Please let me know if any, thank you!

[2022-06-28 07:35] pplonski commented on #550
@Tonywhitemin sorry, dont have time ... Maybe you can try to debug the problem?

[2022-06-28 09:15] Tonywhitemin commented on #550
Hi @pplonski it's ok, just follow your plan!
I think my ability isn't good enough to solve this problem...

[2022-06-29 05:30] alitirmizi23 commented on #461
Hey @pplonski, I understand.
Maybe I'll try to implement myself.
as far as license goes, we already have another enterprise automl framework. To your credit, i have found MLJAR Supervised to be one of the best open source autoML frameworks available

[2022-06-30 13:55] adrienpacifico opened #551 "Shap values are not produced (parameters norm and vmin/vmax simultaneously is not supported)"
Hi,
Shap dependence plots are not produced anymore by mljar with a lightgbm model.
However, `learner_fold_0_shap_summary.png` and `shap_importance.png` are produced.

I get the following error message:

[code]

The code producing this error looks like the following:

[code]

[2022-06-30 14:01] pplonski commented on #551
Thanks for reporting. Does it always happen for LightGBM models? Does it depend on data/validation?

[2022-06-30 14:26] adrienpacifico commented on #551
I am not certain.

1. I am using a docker container that build from a python3 image with no fixed version in my requirements.txt . An I rebuilt it quite often.
2. I am changing my data pre-processing (even though data are largely the same)
3. I just tried to take a subset of the data with very little numerical only feature, and I still have the issue.
4. There is also additional errors/warning tha

[2022-07-02 10:08] emrezmc commented on #529
I also faced this error, any solution?

[2022-07-02 11:01] pplonski commented on #529
Sorry didnt have time to look into it.

[2022-07-06 06:41] minakshimathpal opened #552 "_calculate_permutation_scores() missing 1 required positional argument: 'max_samples'[URGENT]"
I am getting this error while fitting Xgboost in  Explain mode
![image](https://user-images.githubusercontent.com/61991627/177485571-600e7f2b-3044-4851-a530-261090d770d0.png)

[2022-07-08 17:34] arvkevi opened #553 "features_selection typo in base_automl.py"
I'm wondering if there is a typo on [this line](https://github.com/mljar/mljar-supervised/blob/ec309aa731f8dbea029271187ae7d79d18bf44ae/supervised/base_automl.py#L156), should `"features_selectiom"` be changed to `"features_selection"`?

I tried to write a unit test to catch this by fitting AutoML, then manually modifying `params.json`, and loading a new AutoML from file. But I could not get my de

[2022-07-12 08:08] Tonywhitemin opened #554 "In what situation will cause "Linear algorithm was disabled.""
Hi @pplonski
I encountered a problem and hope you can help...
OS: Ubuntu 20.04
problem description: I used explain mode, mission task: binary_classification,and I found that during the process, it showed "Linear algorithm was disabled."
But others algorithm were normal...
Could you help? Thanks!
PS:The dataset is prepared as following.
[test.csv](https://github.com/mljar/mljar-supervised/files/909

[2022-07-12 08:33] pplonski commented on #554
Looks like too big a dataset for Logistic Regression. Here is a code:

https://github.com/mljar/mljar-supervised/blob/92706af75bd1859805a413768dc261d0572c3e06/supervised/base_automl.py#L745-L749

Maybe this constraint is too restricted?

[2022-07-12 08:41] Tonywhitemin commented on #554
Maybe, since our dataset usually have more than 10k samples...
Could I command out this portion? Will it have other side effect?
By the way, Thanks for your quickly reply as always!

[2022-07-12 09:12] pplonski commented on #554
@Tonywhitemin sure you can! No side effects, except the learning, might be long ...

I wish to use [Vowpal Wabbit](https://vowpalwabbit.org/) for linear models :)

[2022-07-12 09:12] #554 closed

[2022-07-13 11:09] Vamp1899 commented on #553
Hi , @pplonski i can give it a shot with PR ,but new to open source so might need your guidance a bit.

[2022-07-13 11:13] pplonski commented on #553
@Vamp1899 sure! Please follow steps:
- just create a fork
- do a commit with typo fix
- do a PR to mljar-supervised repo

[2022-07-18 07:13] pplonski commented on #553
Fixed in #555

Thank you @arvkevi for finding the bug!

[2022-07-18 07:13] #553 closed

[2022-07-19 04:17] Vamp1899 commented on #552
@minakshimathpal Please attach complete code for replicating this error

[2022-07-19 04:43] Vamp1899 commented on #534
@pplonski Not able to understand the error at first place ,can you please elaborate so i can start working on it?

[2022-07-21 07:44] zwang2019 commented on #487
OSError: [Errno 95] Operation not supported. This is because the idiot databrick doesn't support direct appends and random writes since Runtime 6.0 !!!!!

You have to save to a local disk, such as /tmp or something. After finish training, copy and paste to dbfs :(

check link below:
https://docs.microsoft.com/en-us/azure/databricks/kb/dbfs/errno95-operation-not-supported

[2022-07-21 07:59] pplonski commented on #487
thanks, @zwang2019 for the info!

Are you not using Databricks AutoML? I thought they had some?

[2022-07-21 08:09] zwang2019 commented on #487
Honestly speaking, this is one of the ways MS forces users to use their AutoML. I am just trying to deploy my work from Linux server to 'Cloud' which simply using LightGBM.

[2022-07-21 09:02] pplonski commented on #487
May I ask how would you like to deploy? Are you going to use model as REST API or build some UI around it?

[2022-08-01 10:30] adrienpacifico commented on #551
Hi,
After some investigations, it seems to come from non-compatibilities between the pinned shap version ( [shap==0.36.0](https://github.com/mljar/mljar-supervised/blob/7a3d2c89007dae159268cc0c7eb3440005fd4f77/requirements.txt#L12)) and the latest version of numpy.

If I unpin the shap version (or if I `pip install shap --upgrade` ) It seems to run smoothly at least for my use case.

@pplonski why

[2022-08-02 13:32] sksuman97 commented on #476
from supervised.automl import AutoML, not able to import.
error-----> ModuleNotFoundError: No module named 'supervised'

[2022-08-03 15:57] adrienpacifico commented on #551
I am not sure, but it looks ok: https://github.com/adrienpacifico/mljar-supervised/runs/7610955698?check_suite_focus=true

I would have expected that the PR would trigger the CI, it did not right?

[2022-08-08 08:30] pplonski commented on #476
@sksuman97 have you installed `mljar-supervised`?

### Install command
[code]

[2022-08-09 06:12] yairVanti opened #558 "why shap version is freezed at 0.36 ?"
is there any reason why not to support higher versions than 0.36 ?

[2022-08-09 14:55] xinlnix commented on #349
I can not find the 'multi_ouput' in the source code and document. Could you explain how can I use multi-output regression for my tabular data?

[2022-08-09 17:34] pplonski commented on #349
@xinlnix it is not yet implemented.

[2022-08-11 15:50] RaymondWKWong commented on #349
Built in implementation would be great but for others who need this in the meantime the following seems to work and returns multioutput predictions.

`automl = AutoML(mode="Explain")
clf = MultiOutputRegressor(automl).fit(x_train, y_train)
predictions = clf.predict(x_test)`

[2022-08-13 09:19] VectorZhao opened #559 "How could I load a specific model from all saved models?"
I trained a model using the following code:
[code]
and now I got lots of models in the "AutoML_model_CaNaK_unscaled" path.
I want to get shap values for a specific model such as 16_LightGBM following the shap git code like the following:
[code]
I know that using  `AutoML(results_path="AutoML_model_CaNaK_unscaled")` can load the well trained model, but loading a specific model  from saved models is

[2022-08-16 08:16] pplonski commented on #559
Hi @VectorZhao,

It is not yet implemented. There is an issue with adding functionality to load only selected model for computing predictions https://github.com/mljar/mljar-supervised/issues/423.

You can try to reuse the parameters of the selected model and train only it with some custom script.

[2022-08-16 08:16] #559 closed

[2022-08-16 08:24] VectorZhao commented on #559
Ok, many thanks for your reply.

[2022-08-16 08:53] pplonski commented on #558
@yairVanti the shap version is unpinned now

[2022-08-16 08:53] #558 closed

[2022-08-16 08:57] pplonski commented on #551
@adrienpacifico thanks for PR!

[2022-08-16 08:57] #551 closed

[2022-08-20 05:01] alencn1024 commented on #538
kindly to ask is there somebody working on this issue? If not, I'm glad to undertake it @pplonski

[2022-08-20 05:05] pplonski commented on #538
@alencn1024 thanks for looking into it!

[2022-08-20 09:12] forustous opened #560 "Ensemble is not picked up though it is the best model"
In perform mode, the ensemble is usually the best model.
However, the ensemble is not selected without reason for the new version 0.11.3.

[2022-08-20 14:51] pplonski commented on #560
Why did you close the issue?

[2022-08-22 23:25] forustous commented on #560
Because it is not reproduced all the time, however, I can attach a strange example here. The AUCs of ensemble and 27-CatBoost are 0.78905 and 0.775568, respectively, but 27-CatBoost is chosen as the best.
[README.md](https://github.com/mljar/mljar-supervised/files/9398202/README.md)
.

[2022-08-23 07:32] pplonski commented on #560
@forustous looks like you are training AutoML in the `Performance` mode. While selecting the best model, AutoML also considers a prediction time on a single sample. You can do two things:
- train on `Compete` mode, to get best performance. Then the prediction time on a single sample is not computed and is not used to select the best model.
- increase the `max_single_prediction_time` to 0.6 seconds

[2022-08-23 07:32] #560 closed

[2022-08-25 19:14] Karlheinzniebuhr commented on #548
+1 for this, ran in Perform mode and the resulting model weights 1.7 GB, not really practical at those dimensions. If you can guide me on how to implement the "save only best model" function I will implement it

[2022-08-30 16:14] Karlheinzniebuhr commented on #541
Having the same issue when deploying a model from windows to linux

[code]

[2022-08-30 19:37] Karlheinzniebuhr opened #561 "Unable to load model on Ubuntu"
I'm successfully training and loading models on Windows, but when I try to run/save/load the exact same code on Ubuntu I get this error:

[code]
[code]
Similar issue happens when trying to load the model via pickle or joblib.

[code]
[code]

[2022-08-30 19:58] Karlheinzniebuhr commented on #561
Solved. It was my own local path mistake

[2022-08-30 19:58] #561 closed

[2022-09-02 03:35] Kshitij68 commented on #423
Hi @pplonski , I just opened a PR for this. I'm sure that more work would be required before we can merge it, but early feedback would be very helpful.
Thanks!

[2022-09-07 13:41] Karlheinzniebuhr opened #564 "Different results on different machines with same data and same model"
I deployed a locally trained model and ran it with the same data on the server, but the results in the confusion matrix are different. Shouldn't they be exactly the same If I loaded the exact same model with the same data?

![image](https://user-images.githubusercontent.com/5278928/188893194-517f3c02-6b7c-4ecc-8101-5f1ee8ff1aef.png)

[2022-09-07 14:03] Karlheinzniebuhr commented on #564
Solved by updating all packages used

![image](https://user-images.githubusercontent.com/5278928/188898199-5b9e4376-9f8d-475d-8046-dc5ee5265c79.png)

[2022-09-07 14:24] pplonski commented on #564
@Karlheinzniebuhr do you get good results with MLJAR AutoML?

[2022-09-07 14:29] Karlheinzniebuhr commented on #564
amazing results, I'd like to work with you on integrating some new ML methods into it in the future.

[2022-09-09 02:32] Kshitij68 opened #565 "Regarding reproducability of log loss"
Hi,

I was trying to reproduce the log loss calculation and found that the values do not match when the training and prediction set are the same.
Is it expected or it is a buggy behavior?
[code]

[2022-09-09 17:53] kgene521 opened #566 "Add feature_weights to the list of parameters"
In some use cases when there are many features in a dataset and not all of them are of equal importance. I would like the mljar-supervised to have the ability to pass feature_weights parameter. The parameter is just a 1D array with values from 0 to 1. I know of at least one algorithm in mljar collection (Xgboost) that accepts feature_weights.

[2022-09-09 18:19] kgene521 commented on #566
# Something like the following example:

feature_weights = np.ones(shape=(ncols,))

for col, w in COLUMN_WEIGHTS:
    i = X.columns.get_loc(col)
    feature_weights[i] = w

automl = AutoML(results_path=MLJAR_LOCATION,
                total_time_limit=60*60,
                # feature_weights=feature_weights     <== nice to have
                mode='Perform',
                ml_task='binary_classif

[2022-09-12 16:19] Karlheinzniebuhr commented on #492
Did you succeed ?

[2022-09-13 13:47] Garry-wonderwoman opened #567 "Load model in other env"
I am curious to understand how can i shift my model files from one location to another.
1. Is there any way to pickle these files?
2. If I copy entire folder to other env, i have to change path name in every json file
3. is there any way i can shift files for the best model only?

[2022-09-13 14:12] pplonski commented on #567
Hi @Garry-wonderwoman!

You need to move the whole folder with all models. You don't need to change anything in json files, just use the new path in the `AutoML` constructor:

[code]

Currently there is not implemented any solution to select only best model and zip/pickle needed files - sorry! I hope it will be available in the future.

Do you get good models with MLJAR AutoML?

[2022-09-13 16:25] Garry-wonderwoman commented on #567
Nopes....if i move my folder to another env....its mandatory for me to keep the folder strucrure intact .....because inside the model files...every model has framework,json which has the path specified in the parent env. It means we cannot port the model from one env to another

[2022-09-13 17:33] dcapeluto opened #568 "Continue training after initial training gracefully ends"
It is hard to know an adequate total_time_limit for a specific scenario in AutoML. The time limit depends on data size, training machine capability and algorithms chosen. Selecting a seemingly outrageously high limit, could end up cutting the training short and skipping algorithms, while AutoML moves on to Ensemble/Stack tasks with limited set of trained algorithms, due to this limit. Obviously th

[2022-09-13 19:17] dcapeluto commented on #567
@Garry-wonderwoman I have trained models in MLJAR in Azure notebooks, and then zipped the entire root folder, downloaded it and placed it elsewhere to run predictions as described by @pplonski. It has to be the root folder with all the models in it (the one that contains the params.json, progress.json, etc), and not each individual model. You can then load the model pointing at that folder. You ca

[2022-09-14 13:11] dracar2s opened #569 "Cross validation on imbalanced small dataset causes error"
Hi.
I am using a small dataset of 120 rows for binary classification, which is also imbalanced (103:17).
When I use cross validation, the confusion matrix and out-of-folds predictions show that there are 123 datapoints instead of 120.
It seems to think there are 20 cases of the minority class.

I have been able to reproduce this issue with this attached dummy dataset.
Interestingly, if I change th

[2022-09-14 13:14] pplonski commented on #569
Hi @dracar2s!

There is a special function to handle 'drastic` imbalanced datasets:

https://github.com/mljar/mljar-supervised/blob/f591ca1cce4dd06f6dc16d496abd704521bf7891/supervised/base_automl.py#L581-L610

The `3` additional samples were added to have at least `20` samples from each class. Is it ok for you?

Do you get good models with MLJAR AutoML?

[2022-09-14 13:26] dracar2s commented on #569
Thanks @pplonski for the real-time response!

I didn't know that function existed.
Unfortunately, I prefer to use only the original data.

Can you tell me how to turn this function off?

If not, would you tell me what the underlying technique is? (like SMOTE?).

I've recently got a breakthrough in classification performance using Optuna mode and am looking forward to use the data to write an acade

[2022-09-14 13:38] pplonski commented on #569
You can comment off all calls of `_handle_drastic_imbalance` functions in the code ...

The algorithm is very simple. It randomly selects samples (from existing samples of the same class) until it reaches 20 samples for the minor class. You can try to run SMOTE on your data by yourself and then call AutoML. If you have at least 20 samples of each class, then there will be no changes in your datase

[2022-09-14 13:49] dracar2s commented on #569
So the 3 new samples are copies from 3 of the 17 samples, right?

It would be nice if the function could be toggled.

In the meantime, I’ll comment out the function.

Thank you again for the prompt feedback!

[2022-09-14 13:55] pplonski commented on #569
Yes.

[2022-09-14 13:55] #569 closed

[2022-09-19 19:57] Serif-Kaya commented on #390
While trying to access additional data in my custom metric as you mentioned above I see this error

`Failed to optimize method "evaluate" in the passed object:
Failed in nopython mode pipeline (step: nopython frontend)
Untyped global name 'UserDefinedEvalMetric': Cannot determine Numba type of <class 'type'>

File "../python/lib/python3.8/site-packages/supervised/utils/metric.py", line 346:
    de

[2022-09-20 08:04] pplonski commented on #390
Hi @Serif-Kaya,

Are you using numba jit in the custom metric? Can you paste the full code (plus example data sample) to reproduce your problem?

Thank you!

[2022-09-20 08:28] Serif-Kaya commented on #390
@pplonski I actually resolved this issue but having trouble with train and validation set indices while using custom eval_metric.
If I don't read train_ind it returns

After using the train_ind it calculates train metric but fails at validation metric

`df = pd.DataFrame({'feature_1':[10, 10.0, 8, 7, 6, 5, 4, 3, 2, 1,6.0, 5.0, 4.0, 3.0, 2.0, 1.0, 10.0, 9.0, 8.0, 7.0],
                   'feature_2

[2022-09-20 09:07] pplonski commented on #390
@Serif-Kaya how have you resolved the earlier problem?

Maybe try to use `train_ind` when sample is large and `validation_ind` if sample is small? You need to somehow load correct indices.

[2022-09-20 18:23] Serif-Kaya commented on #390
I loaded the correct indices by checking the data size but sometimes y_predicted carries index and sometimes not. Working to resolve this issue now.

[2022-09-20 22:23] cryptocoinserver opened #570 "[Suggestion] Purging and embargoing to deal with unintended data leaks in cross validation."
These approaches are often used in financial ML. Can benefit a wide variety of ML tasks though.

In short: Adding a safety gap between the k-folds or train-, test- and validation splits.

These articles explain it in detail:

[https://medium.com/mlearning-ai/why-k-fold-cross-validation-is-failing-in-finance-65c895e83fdf](https://medium.com/mlearning-ai/why-k-fold-cross-validation-is-failing-in-fin

[2022-09-30 08:07] alexandre-dang commented on #529
I have the same issue, for what I've found for me it's the LabelEncoder.classes_ that converted floats to strings before checking missing values and compare values sets.
I don't know why nor where it converted floats to strings but that seems to be the issue since you can't check missing values on strings
![Screenshot from 2022-09-30 10-06-08](https://user-images.githubusercontent.com/109803960/19

[2022-09-30 08:14] pplonski commented on #529
thanks @alexandre-dang for reporting! Could you please provide minimal code+data to reproduce the issue? Any ideas how to fix it?

[2022-10-01 15:32] Karlheinzniebuhr commented on #349
This method fits the same model again for me,
[code]

[2022-10-03 11:31] yairVanti opened #571 "segmentation fault on autoML fit"
details :
Translated Report (Full Report Below)
-------------------------------------

Process:               python3.8 [36912]
Path:                  /Users/USER/*/python
Identifier:            python3.8
Version:               ???
Code Type:             X86-64 (Native)
Parent Process:        pycharm [32492]
Responsible:           pycharm [32492]
User ID:               501

Date/Time:

[2022-10-03 11:40] pplonski commented on #571
@yairVanti thanks for reporting. Could you please provide the code+data to reproduce the issue? What processor type do you have?

[2022-10-03 13:32] yairVanti commented on #571
processeor is 2.6GHz 6-Core Intel Core i7
i think its not an issue of data, it happens on many kinds of data.
another thing is that it happens only if n_jobs is bigger than 1.
on one thread everything works.

[2022-10-03 13:40] pplonski commented on #571
Thank you. Are you able to track the reason?

[2022-10-03 13:42] yairVanti commented on #571
no, the linear regression works and then on the simple /default algorithms step it crashes.

[2022-10-06 10:23] adrienpacifico opened #573 "Confusion between : train, val, test."
Hi,
I think that there are some elements that creates confusion (at least to me) between different sets in mljar.

One example are graphs created by mljar:
![image](https://user-images.githubusercontent.com/6614121/194285188-cbcb98b5-c8cd-437f-8fe4-9868ef7057d0.png)

The "test" set from the learning curve is actually the validation set (or cross-validation set)! That might be to some extent confus

[2022-10-06 12:33] pplonski commented on #571
Thanks @yairVanti for investigation. Can you confirm that import order matters? Can you try to import lightgbm in your script before automl import?

[2022-10-06 18:05] pplonski commented on #573
Yes, all confusing places should be updated.

1. I'm little afraid that it might be too complex for users.
2. User can have several test datasets, for example new test data every day, then it will be nice to just evaluate vs new data.
3. Adding `evaluate()` function might be a little simpler than extending the training function with new arguments.

[2022-10-07 09:56] adrienpacifico commented on #545
@pplonski would you be willing to accept such a contribution?

[2022-10-07 10:08] pplonski commented on #545
@adrienpacifico yes, which framework you would like to support?

[2022-10-07 10:11] adrienpacifico commented on #545
MLFlow mostly.

[2022-10-07 10:14] pplonski commented on #545
@adrienpacifico do you think you are able to provide general implementation that can be further extended for other services?

[2022-10-07 10:28] adrienpacifico commented on #545
I do not know, I will probably have time in the next months, and I might try to tackle some open source issues. But I do not know how able I am to do it.

[2022-10-07 10:31] pplonski commented on #545
@adrienpacifico ok, got it. You can try to start with some very simple minimal feature that will allow to log model final score or score during training.

[2022-10-08 02:28] haichangsui opened #574 "Numbers in the confusion matrix doesn't add up to be equal to the size of test data"
This refers to the binary classification example in the https://github.com/mljar/mljar-supervised#point_right-binary-classification-example

The dataset https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv has 32561 entries. The test data should have 8141 entries (25%).

However, the numbers in the confusion matrix (for example https://github.com/mljar/mljar-examples

[2022-10-08 16:33] yairVanti commented on #571
tried , it didnt work....

[2022-10-09 20:50] Karlheinzniebuhr commented on #543
Since today I'm getting this error with a codebase that gave no errors yesterday.

[code]

[2022-10-09 22:31] Karlheinzniebuhr opened #575 "AutoMLException: No models produced."
I'm getting this exception since today, with a codebase I've used for months without any issues before.
Same dataset and settings work without problem in _Explain_ mode

[code]

[code]

FULL exception text

[code]

[2022-10-09 22:34] Karlheinzniebuhr commented on #575
Here is the content of errors.md

[code]

[2022-10-10 05:11] pplonski commented on #575
Hi @Karlheinzniebuhr, did you update any Python package or change something in data? There are no parameters generated thats why no models are trained.

[2022-10-10 09:46] Karlheinzniebuhr commented on #575
I did use a bigger dataset, I tried limiting the dataset to 1/10th and that worked. But once I used the whole dataset again the same exception occurs. I'm trying to run on linux too now to see if same problem happens

[2022-10-10 10:22] pplonski commented on #575
@Karlheinzniebuhr try to set `total_time_limit=6*3600` maybe too small time budget is the reason?

[2022-10-10 22:06] Karlheinzniebuhr commented on #575
Indeed this seems to have been the issue, changed to 24*36000 and so far it is running and saving the progress. Thanks so much!

[2022-10-10 22:06] #575 closed

[2022-10-11 03:23] pplonski commented on #575
Great! @Karlheinzniebuhr do you get good results with AutoML?

[2022-10-11 15:25] jonashaag opened #576 "float64 column treated as text in `feature_extraction/text.py`"
[code]

[2022-10-11 15:46] pplonski commented on #576
Hi @jonashaag, thank you for reporting the issue. Could you please run the `np.unique()` on the column that is causing the error?

[2022-10-12 13:23] jonashaag commented on #576
I will try, best debugging I can do is a print statement but it doesn't seem like it's printed somewhere. I'll keep on trying.

I've commented out text preprocessing and now get another preprocessing error:

[code]

[2022-10-13 08:05] jonashaag commented on #576
Seems like to columns are sparse float64. Feel free to close since supervised doesn't seem to have sparse support just yet.

[2022-10-13 08:06] #576 closed

[2022-10-15 13:25] xinlnix commented on #571
I got the same error because of the memory usage limited. The process is killed by the system. But mljar can  not quit automaticly. But the trained model is preserved.

[2022-10-22 20:16] prashant-iiitd opened #577 "2022-10-22 20:06:55,545 supervised.exceptions ERROR No models produced."
Linear algorithm was disabled.
AutoML directory: AutoML_1
The task is regression with evaluation metric r2
AutoML will use algorithms: ['Random Forest', 'LightGBM', 'Xgboost', 'CatBoost', 'Neural Network']
AutoML will ensemble available models
AutoML steps: ['simple_algorithms', 'default_algorithms', 'not_so_random', 'golden_features', 'insert_random_feature', 'features_selection', 'hill_climbing_

[2022-10-24 10:29] fernaper opened #578 "Inconsistent errors during training same model"
Hello, I'm trying to train a classification model. Sometimes it works, and some times it is giving the following error.
The dataframe used is exactly the same each time. I can share it tou you if needed.

[code]

The parameters pased to the `autml` object are:

[code]

The dataframe types of `X_train` and `y_train` are:

[code]
[code]

[2022-10-24 10:35] pplonski commented on #578
@fernaper thanks for reporting the issue.

Yes, please attach the code and data to reproduce the problem.

Maybe `total_time_limit` is too low? Do you have similar issues when `total_time_limit=120` or more?

[2022-10-24 10:36] pplonski commented on #577
@prashant-iiitd thank you for reporting the issue! Sorry for the problems.

Can you share code+data to reproduce the issue? What parameters have you used?

[2022-10-24 11:59] fernaper commented on #578
@pplonski You are right, thank you very much, it is because of the total time limit, I just put a bigger value and it does not happen anymore.
But is still a little bit weird that mljar returns me this internal error (_list index out of range_), it should return something like, "_No model can be produced due to your limit of time to train the model_" or something similar.

[2022-10-24 12:34] pplonski commented on #578
@fernaper you are right, there should be better error message.

[2022-10-25 20:41] prashant-iiitd commented on #577
`import pandas as pd; from supervised.automl import AutoML`

`train = pd.read_csv('data.csv')`

`X_train = train.copy(); y_train = X_train.pop('target');`

`mljar_perf = AutoML(ml_task='regression',
        mode='Perform',
        eval_metric= 'r2',
        explain_level=2
        )`

The following block gives an error. Error has been specified above. Also, when I try it with optuna, it still give

[2022-10-26 02:14] PyDeps opened #579 "Project dependencies may have API risk issues"
Hi, In **mljar-supervised**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using

[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk of the missing

[2022-10-27 12:30] yairVanti opened #580 "leaderboard is showing negative values for f1 metric"
when i run fit on tabular binary classification dataset
i get the following leader board
![image](https://user-images.githubusercontent.com/101978729/198283721-88e00d9e-ecc7-4c3a-8e8d-5aa0bfb0dded.png)

when i run model.report() it looks better , where the metrics are positive:

![image](https://user-images.githubusercontent.com/101978729/198284579-4333b77d-d55c-490d-99a7-70406ec61337.png)

[2022-10-27 12:37] pplonski commented on #580
Looks like a bug. Thank you for reporting!

[2022-10-27 15:00] aksy2512 commented on #580
Hi, I want to work on this issue

[2022-10-27 15:17] pplonski commented on #580
Hi @aksy2512, thanks, it is all yours!

[2022-10-29 08:13] aksy2512 commented on #580
Thank you @pplonski for assigning me the issue. I am not able to reproduce the data locally. It would be great if you could suggest me some resources about it

[2022-10-29 13:17] pplonski commented on #580
Thanks @aksy2512 for looking into it.

@yairVanti could you please provide example data and code to reproduce the issue locally?

[2022-10-30 09:52] yairVanti commented on #580
dataset is attached, target is the last column.
[electrical_grid.csv](https://github.com/mljar/mljar-supervised/files/9895540/electrical_grid.csv)

just train AutoML with these params :
("total_time_limit": 120, "ml_task": "binary_classification", "mode": "Perform", "eval_metric": "f1", "n_jobs": -1,
                         "random_state": 0)
and get_leaderboard() on the fitted AutoML instance.

[2022-10-31 18:01] renxida opened #581 "automl.report() messes up formatting of notebook"
The CSS leaks everywhere and messes up the whole notebook's formatting

[2022-10-31 18:02] renxida commented on #581
I use VS code in dark mode and it messes up readability for me especially bad

[2022-11-01 21:37] apprenticemanxxx commented on #366
Could I define my own `eval_metric` in the `Optuna` mode?

[2022-11-01 22:47] alitirmizi23 opened #582 "question about Optuna"
Once again, amazing project and thank you for the work

Could you elaborate on how Optuna mode works? Once it has optimized for a certain eval_metric using 10-fold CV, does it prepare a final model trained on 100% of the data, which will then be loaded once we do .predict()? or will the predictions be average of the 10 models learned during the CV?

[2022-11-02 05:31] pplonski commented on #582
It will be the latter, average of 10 models. You can reuse the parameters and train single model. From my experience better results are from average of several models.

[2022-11-02 05:31] #582 closed

[2022-11-02 07:45] pplonski commented on #580
Thank you @yairVanti!

[2022-11-02 07:54] pplonski commented on #366
Yes, you can use custom evaluation metric in `Optuna` mode. Please check example code on how to define custom evaluation metric here: https://github.com/mljar/mljar-supervised/issues/390#issuecomment-830049603

[2022-11-02 18:43] apprenticemanxxx commented on #366
I tried but it always raise the error:
[code]

[2022-11-02 18:47] pplonski commented on #366
Could you please provide code sample?

[2022-11-03 00:49] apprenticemanxxx commented on #366
Hi @pplonski ,

The idea of my `eval_metric` is that I would like to minimize the ratio of predicted points having `mape` greater than 0.2
And here's the code that I leverage the `mean_absolute_percentage_error` from `sklearn`:
[code]
  And this is the code without using `mean_absolute_percentage_error`:
[code]

  And both of them give me errors. Could you help me on that. Thank you.

[2022-11-04 08:46] pplonski commented on #366
Hi @apprenticemanxxx,

I recommend:

1. save arguments to a file in the custom function,
2. call AutoML with custom metric and save values into a file,
3. load values in Jupyter Notebook and try to debug locally and understand the problem.

[code]

[2022-11-06 19:43] Karlheinzniebuhr opened #584 "Custom loss function"
I've implemented a custom loss function for a keras NN. I'd like to use it with Mljar, is there a way to plug it in?
Here is my keras example:

[code]

Any hint or instructions on how to integrate this would be highly appreciated

[2022-11-07 09:08] pplonski commented on #584
Hi @Karlheinzniebuhr ,

You can defnie cusom eval metric in MLJAR AutoML. Please see details here https://github.com/mljar/mljar-supervised/issues/390#issuecomment-830049603

It is an evaluation metric used to decide on early stopping or model ensembling. It is not a loss function - it is not directly optimized. You can define the custom loss function in MLJAR AutoML.

[2022-11-14 07:52] pplonski opened #585 "add joblib version for saved models"
Different joblib versions can cause errors during loading models. Please include the joblib version when saving the model (maybe in the framework.json file). Please check https://github.com/mljar/mljar-supervised/discussions/583

[2022-11-18 17:03] JeremyKeusters commented on #550
Just wanted to bump this issue as I'm having exactly the same issue. I tried both version `0.11.3` as well as version `0.10.6`. I do have to say that the differences are not that big as in the example above, but there is one, and it only appears when using `eval_metric='accuracy'`.

eg. Leaderboard CSV file:
<img width="864" alt="Screenshot 2022-11-18 at 17 56 35" src="https://user-images.githubus

[2022-11-28 12:43] yairVanti opened #586 "create wheel in pypi with "any" platform"
my code need to be embedded into 3rd party solution that downloads all my requirements and bundle them.
it looks for versions of the packages in the following platforms in pypi :
    "any",
    "manylinux1_x86_64",
    "manylinux2010_x86_64",
    "manylinux2014_x86_64",
    "linux_x86_64",
    "manylinux2014_i686",
  so no packages are found sine mljar-supervised is not marked with the above platf

[2022-11-28 12:52] pplonski commented on #586
Please could you provide PR to fix this?

[2022-11-28 13:34] yairVanti commented on #586
tried, not proficient in creating distributions...
i think we only need to add operating systems in setup.py:
classifiers=[
        "Programming Language :: Python",
        "Programming Language :: Python :: 3.7",
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Operating System :: OS Independent"
    ],

    but it is not clear to me how